
.jumbotron {
    background-color: #cbc3c3;
    font-family: "Rockwell Extra Bold";
    color: darkmagenta;
    text-align: center;
    font-size: 50px;
     }

body {
    font-family: 'EB Garamond';
    }
